#Center{
    text-align: center !important;
}

.centerTitle {
    width: 100%;
    text-align: center !important;
    padding-top: 35px;
    font-size: 3rem;
}

#today {
    font-size: 50px !important;
}