html{
	scroll-behavior:smooth;
	width:auto;
}

#section:hover{background-color: lightgray !important;}

body{text-transform: uppercase;}

h1{font-weight: bold;}

span{text-decoration: underline;}

.home{list-style: none;}

.li{display:none;}

#li2{text-align: left;}

#Center{text-align: center;}

.dropbtn {
	background-color: #3498DB;
	color: rgb(255, 255, 255);
	padding: 10px;
	border-radius: 100px;
	font-size: 16px;
	border:none;
	cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {opacity: 0.6;}

.dropdown {display: inline-block;}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	z-index: 1;
}

.dropdown-content a {
	position: left 10px;
	color:black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}