/*resizes the robot img */
#body{
  text-align:center;
}
#input{
  width: 150px;
}

img{
    width:50px;
}
  
/*if the user hovers over the Privacy link it makes it bigger. So if the user has bad eyes they can read it better*/
.Privacy:hover{
  text-align: right;
  font-size:50px;
}