/*makes everything centered*/
#body{
  text-align:center;
}

/* changes the size of the input box*/
#input{
  width: 12%;
}

/*resizes the robot img */
img{
  width:50px;
}
  
/*if the user hovers over the Privacy link it makes it bigger. So if the user has bad eyes they can read it better*/
#Privacy:hover{
  font-size: 30px !important;
}